{% load static %}

{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>App CYJE</title>
    {% tailwind_css %}
</head>
<body class="bg-blue-50 text-gray-100 min-h-screen flex flex-col">

<header class="bg-blue-900 shadow-md">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
        <a href="{% url 'index' %}" class="text-3xl font-extrabold tracking-wide text-white hover:text-blue-300 transition">
            App CYJE
        </a>
        <nav class="space-x-8 text-white font-semibold text-lg">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="/admin/" class="hover:text-blue-300 transition">Admin</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="hover:text-blue-300 transition">Mon compte ({{ user.username }})</a>
                <a href="{% url 'qr_code' %}" class="hover:text-blue-300 transition">Mes QR Codes</a>
                <a href="{% url 'global_stats' %}" class="hover:text-blue-300 transition">Statistiques globales</a>
                <a href="{% url 'logout' %}" class="bg-red-600 hover:bg-red-700 px-4 py-1 rounded transition inline-block">
                    Se déconnecter
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="hover:text-blue-300 transition">Se connecter</a>
                <a href="{% url 'signup' %}" class="bg-blue-700 hover:bg-blue-800 px-5 py-1 rounded transition inline-block">
                    S'inscrire
                </a>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container mx-auto px-6 py-10 flex-grow text-blue-900">
    {% block content %}{% endblock %}
</main>

<footer class="bg-blue-900 border-t border-blue-800">
    <div class="container mx-auto px-6 py-5 text-center text-blue-300 text-sm select-none">
        &copy; App CYJE. Tous droits réservés.
    </div>
</footer>

</body>
</html>
