{% extends 'base.html' %}

{% block content %}
    <h1>S'inscrire</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" required>
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}