{% extends 'base.html' %}


{% block content %}
    <h2>{{qrcode.title}}</h2>
    {% if qrcode.qr_image %}
        <img src="{{ qrcode.qr_image.url }}" alt="QR Code for {{ qrcode.title }}" style="width: 200px; height: auto;">
    {% endif %}
    <a href="{%  url 'delete-qrcode' qrcode.uuid %}">Supprimer le QR Code</a>
    <h2>Modifier le qr code </h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" value="{{ qrcode.title }}" required>
        </p>
        <p>
            <label for="target_url">URL de destination</label>
            <input type="url" name="target_url" id="target_url" value="{{ qrcode.target_url }}" required>
        </p>
        <button type="submit">Modifier le QR Code</button>
    </form>
    <h2>Statistiques du QR Code</h2>
    <h3>Scans sur les 7 derniers jours</h3>
    <canvas id="scansChart" width="600" height="300"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('scansChart').getContext('2d');
      const labels = {{ labels|safe }};
      const data = {{ data|safe }};

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Nombre de scans',
            data: data,
            backgroundColor: 'rgba(75, 192, 192, 0.6)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: { beginAtZero: true }
          }
        }
      });
    </script>

{% endblock %}